:root {
    /* Fonts */
    --headingFont: 'PT Sans', sans-serif;
    --paragraphFont: 'Open Sans', sans-serif;

    --primary: #784D3C;
    --white: #ffffff;
    --black: #000000;
    --gray: #e1e1e1;
    --transparentWhite: rgba(255,255,255,85%);
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--paragraphFont);
    font-size: 1.6rem;
    line-height: 2; /* Space between text lines to make reading easier */
}

img{
    max-width: 100%;
    width: 100%;
}

/* ----- Global ----- */
.container {
    max-width: 130rem;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--headingFont);
    line-height: 1.2;
}

h1 {font-size: 4.8rem;}
h2 {font-size: 4rem;}
h3 {font-size: 3.2rem;}
h4 {font-size: 2.8rem;}
/* ----- /Global ----- */

/* ----- Utilities ----- */
.no_margin {
    margin: 0;
}

.no_padding {
    padding: 0;
}

.center_text {
    text-align: center;
}
/* ----- /Utilities ----- */

/* ---- Header ---- */
/* The modernizr.js script will add the 'webp' class to the HTML element; therefore, we can check whether the browser supports WebP images or not and apply the code accordingly.*/ 
/* This is necessary because the image is added via CSS instead of HTML, so we do not have access to the picture element to choose the most optimized image format. 
 */.webp .header {
    background-image: url(../img/banner.webp); 
}

.no-webp .header {
    background-image: url(../img/banner.jpg); /* This is necessary, .webp .header {} will not apply because of CSS's priority to the most specific selector. */
}

.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Defines which position (horizontally and vertically) is primarily shown. It can also be used with % */
    position: relative;
}

@media (min-width: 768px) {
    .header__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.header__text {
    text-align: center;
    color: var(--white);
}

.main_bar {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .main_bar {
        display: flex;
        justify-content: space-between; /* Align horizontally*/
        align-items: center; /* Align vertically */
    }
}

.logo {
    color: var(--white);
}

.logo__name {
    font-weight: normal;
}

.logo__bold {
    font-weight: bold;
}

@media (min-width: 768px) {
    .main_nav {
        display: flex;
        gap: 2rem;
    }
}

.nav_link {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--white);
}

@media (min-width: 768px) {
    .main_content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entry {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 2rem;
}

.entry:last-of-type {
    border: none;
    margin-bottom: 0;
}

.button {
    display: block;
    color: var(--white);
    font-family: var(--headingFont);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.button:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .button {
        display: inline-block; /*display inline is inmune to margin and width so we use inline-block, which does respect the margin and width parameters we set*/

    }
}

.button--primary {
    background-color: var(--black);
}

.button--secondary {
    background-color: var(--primary);
}


/* ----- Courses -----*/
.courses {
    list-style: none;
}

.widget-courses {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 2rem;
}

.widget-courses:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.widget-courses__label, .widget-courses__info {
    font-family: var(--headingFont);
    font-size: 2rem;
}

.widget-courses__label {
    font-weight: bold;
}

.widget-courses__info {
    font-weight: normal;
}

.footer {
    background-color: var(--black);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .about_us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    /* Flexbox Equivalent */
    /* .about_us {
        display: flex;
        justify-content: space-between;
    }
    .about_us__img, .about_us__text {
        flex-basis: calc(50% - 1rem);
    } */
}


/* ----- Course ----- */
.course {
    padding: 2rem 0;
    border-bottom: 1px solid var(--gray);
}

.course:last-of-type {
    border-bottom:none;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .course {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
}


/* This code could be avoididng by adding the relevant classes to the courses section. Instead it is repeated for clarity purposes */
.course__label, .course__info {
    font-family: var(--headingFont);
    font-size: 2rem;
}

.course__label {
    font-weight: bold;
}

.course__info {
    font-weight: normal;
}


/* ----- Contact Us ----- */
.contact-bg {
    background-image: url(../img/contact.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.myForm {
    background-color: var(--transparentWhite);
    margin: -25rem auto 0 auto; /* Overlap form with img => negative margin */
    width: 95%;
    padding: 2rem;
    font-family: var(--paragraphFont);
}

@media (min-width: 768px) {
    .myForm {
        padding: 5rem;
    }
}

.field {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.field__label {
    flex: 0 0 6rem; /* Fixed size: 9rem */
    text-align: right;
}

@media (min-width: 768px) {
    .field__label {
        flex: 0 0 12rem; /* Fixed size: 12rem */
    }
}

.field__input {
    flex: 1;
    border: 1px solid var(--gray);
    width: 100%;
    font-family: var(--paragraphFont);
}

.field__input--textArea {
    height: 20rem;
}
